<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto:500,400,300' rel='stylesheet' type='text/css'>
		<title>Eric Blomquist</title>
	</head>
	<body>
		<div id="top on">
			<h1 class="header">Eric Blomquist</h1>
			<div class="links">
				<a href="https://se.linkedin.com/in/eric-blomquist-00768657">LinkedIn</a>
				<a href="https://www.facebook.com/bloomqvist">Facebook</a>
				<a href="http://www.twitter.com">Twitter</a>
			</div>
		</div>
		<div id="CV" class="tab-content">

			<div class="about off">
				<div class="text">
					<h2 class="header">About</h2>
					<p>I am a Programmer, UX designer and challenge conqueror living in Stockholm, Sweden.</p>
					<br>
					<p class="desctext">With a background in programming I have quite recently switched focus to UX design.
						 I love working with people, both in the context of teams and colleagues but also in the
					 	 context of creating new experiences for the end users.</p>
				</div>
			</div>

			<div class="work on">
				<h2>Work</h2>
				<div class="subwork">
					<div class="workstage">
						<h3>Research</h3>
						<p>State of the art analysis. Gather the present state</p>
					</div>
					<div class="workstage">
						<h3>Structure</h3>
						<p>Setup and content</p>
					</div>
					<div class="workstage">
						<h3>Strategy</h3>
						<p>Decide the approach and concept</p>
					</div>
					<div class="workstage">
						<h3>Creation</h3>
						<p>...evaluation and iteration of personas, scenarios,
							 sketches, mockups etc.</p>
					</div>
				</div>
				<div class="projects">
					<div class="column first">
					</div>
					<div class="column second">
					</div>
				</div>
			</div>

		</div>
	</body>
</html>
