.header {
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-image: url("/resources/desk.jpg");
	width: 100vw;
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 100px;
	height: 200px;
	padding-top: 50px;
	margin-bottom: 0;
	color: #ECEFF1;
}

p {
	max-width: 40vw;
}

.about {
	background-image: url("/resources/me2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 70vh;
 }

.text {
	width: 50%;
	text-align: left;
	padding-left: 9%;
	padding-top: 3%;
}

.desctext {
	font-weight: 300;
}

.work {
	background-color: #ECEFF1;
	width: 100vw;
	padding-top: 2%;
}

.projects {
	height: 60vh;
	display: flex;
	padding-bottom: 0;
}

.column {
	width: 50vw;
	height: 33vw;
	background-position: center;
	background-size: cover;
}

.first {
	background-image: url("/resources/tesla1.jpg");
}

.first:after {
	content:'More info';
	font-size: 140%;
	color: #ECEFF1;
	vertical-align: middle;
	width: 50vw; height: 33vw;
	line-height: 33vw;
	/*background:rgba(0,0,0,0.6);*/
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.first:hover:after {
	opacity: 1;
}

.second {
	background-image: url("/resources/vr.jpg");
}

.second:after {
	content:'Coming soon';
	font-size: 140%;
	color: #ECEFF1;
	vertical-align: middle;
	width: 50vw; height: 33vw;
	line-height: 33vw;
	/*background:rgba(0,0,0,0.6);*/
	background-size: 50vw 33vw;
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.second:hover:after {
	opacity: 1;
}

.on {
	box-shadow: 3px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.off {
	color: #ECEFF1;
}
